@using Microsoft.AspNetCore.Components.Web
@namespace Cyberbezpieczenstwo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Cyberbezpieczenstwo.styles.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfrhwAjAAAAAJK-4l7STjlLnegbpvkZ0UMvcjS-"></script>
    @*<script>
        runCaptcha = function (actionName) {
            return new Promise((resolve, reject) => {
                grecaptcha.enterprise.ready(() => {
                    grecaptcha.enterprise.execute('6Lc9bL8aAAAAAKWWoY07Tidrhbq4ca6uxI-EpB3i', { action: 'login' }).then(function (token) {
                        resolve(token);
                    });
                });
            });
        };
    </script>*@
    @*<script>grecaptcha.enterprise.ready(function () {
            grecaptcha.enterprise.execute('6LeNAAAjAAAAANVCRcSySS1adlU9ro5xuUghWbm5', { action: 'login' }).then(function (token) {
           ...
        });
    });</script>*@
</body>
</html>

