@inherits LayoutComponentBase
@inject IJSRuntime js
@inject NavigationManager navManager
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Cyberbezpieczenstwo</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <NotAuthorized>
            <LoginRedirect />
        </NotAuthorized>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <main>
                    <div class="top-row px-4 auth">
                        <CascadingValue Value="@Auth">
                        <LoginDisplay />
                        </CascadingValue>
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>


